<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CRUD APP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/practicaldev/image/fetch/s--E8ak4Hr1--/c_limit,f_auto,fl_progressive,q_auto,w_32/https://dev-to.s3.us-east-2.amazonaws.com/favicon.ico" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://zypp.app/css/aos.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="d-flex align-items-center">
          <div class="logo">
            <a href="/">Alpine Code</a>
          </div>
          <nav class="nav-menu d-none d-sm-block pl-4">
            <ul>
              <li class="menu-tab who-we-are"><a href="/">Home</a></li>
              <li class="menu-tab ev-rider"><a href="/getuser">All User</a></li>
              <li class="menu-tab contact"><a href="#">CONTACT US</a></li>
            </ul>
          </nav>

          <div class="getApp d-flex align-items-center ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 24.811 35.444">
              <g id="Group_175" data-name="Group 175" transform="translate(-1462.189 -111.778)">
                <path id="mobile_1_" data-name="mobile(1)" d="M18.664,27.325l-.266-.213a1.347,1.347,0,0,0-.319-.159l-.319-.142a1.772,1.772,0,0,0-1.613.478,2.038,2.038,0,0,0-.372.585,1.772,1.772,0,0,0,2.3,2.322,2.587,2.587,0,0,0,.585-.39,1.754,1.754,0,0,0,0-2.481ZM24.494,2H10.317A5.317,5.317,0,0,0,5,7.317V32.127a5.317,5.317,0,0,0,5.317,5.317H24.494a5.317,5.317,0,0,0,5.317-5.317V7.317A5.317,5.317,0,0,0,24.494,2Zm1.772,30.127A1.772,1.772,0,0,1,24.494,33.9H10.317a1.772,1.772,0,0,1-1.772-1.772V7.317a1.772,1.772,0,0,1,1.772-1.772H24.494a1.772,1.772,0,0,1,1.772,1.772Z" transform="translate(1457.189 109.778)" fill="#fff"></path>
                <path id="Path_2432" data-name="Path 2432" d="M-1278.935,521.683-1289.09,528l2.564,1.369-4.48,6.546,10.379-6.076-2.664-1.358Z" transform="translate(2759.565 -402.183)" fill="#1fcd5b"></path>
              </g>
            </svg>
            <p>Get the app</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 14 12">
              <path id="Polygon_4" data-name="Polygon 4" d="M6.136,1.481a1,1,0,0,1,1.728,0L13.123,10.5a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z" transform="translate(14 12) rotate(180)" fill="#1fcd5b"></path>
            </svg>

            <div class="getappOpen" style="display: none">
              <a href="https://play.google.com/store/apps/details?id=com.mobycy" target="_blank"><i class="ri-google-play-fill"></i> Android-User App</a>
              <a href="https://play.google.com/store/apps/details?id=com.zyppdelivery" target="_blank"><i class="ri-google-play-fill"></i> Android-Pilot App</a>
              <a href="https://apps.apple.com/in/app/zypp-electric-scooter-delivery/id1318610812" target="_blank"><i class="ri-app-store-fill"></i> IOS-User App</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="form-body form-body-fp">
        <div class="row">
          <div class="form-holder">
            <div class="form-content">
              <div class="form-items">
                <h3>Register User</h3>
                <p>Fill in the data below.</p>
                <form class="requires-validation" action="/user" method="post" enctype="multipart/form-data">
                  <div class="col-md-12">
                    <input class="form-control" type="text" name="name" placeholder="Full Name" />
                    <div class="valid-feedback">Username field is valid!</div>
                    <div class="invalid-feedback">Username field cannot be blank!</div>
                  </div>
                  

                  <div class="col-md-12">
                    <input class="form-control" type="email" name="email" value="@gmail.com" placeholder="E-mail Address" />
                    <div class="valid-feedback">Email field is valid!</div>
                    <div class="invalid-feedback">Email field cannot be blank!</div>
                  </div>

                  <div class="col-md-12">
                    <% var position=['Junior Web Developer','Senior Web Developer','Project Manager'] %>
                    <select class="form-select mt-3" name="position">
                      <option selected disabled>select Position</option>
                      <% for( let i = 0; i < position.length; i++ ) { %>
                        <option value="<%= position[i] %>"><%= position[i] %></option>
                      <% } %>
                    </select>
                    <div class="valid-feedback">You selected a position!</div>
                    <div class="invalid-feedback">Please select a position!</div>
                  </div>

                  <div class="col-md-12">
                    <input class="form-control" type="number" name="phone" placeholder="Phone Number" />
                    <div class="valid-feedback">phone number field is valid!</div>
                    <div class="invalid-feedback">phone number field cannot be blank!</div>
                  </div>

                  <div class="col-md-12">
                    <input class="form-control" type="password" name="password" placeholder="Password" />
                    <div class="valid-feedback">Password field is valid!</div>
                    <div class="invalid-feedback">Password field cannot be blank!</div>
                  </div>
                  <div class="col-md-12">
                    <input class="form-control" type="file" name="avatar" required />
                    <div class="valid-feedback">Password field is valid!</div>
                    <div class="invalid-feedback">Password field cannot be blank!</div>
                  </div>
                  <!-- <div class="col-md-12 mt-3">
                    <label class="mb-3 mr-1" for="gender">Gender: </label>
                    <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" />
                    <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                    <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" />
                    <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
                    <div class="valid-feedback mv-up">You selected a gender!</div>
                    <div class="invalid-feedback mv-up">Please select a gender!</div>
                  </div> -->
                  <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" />
                    <label class="form-check-label">I confirm that all data are correct</label>
                    <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                  </div> -->
                  <div class="form-button-fp mt-3">
                    <button id="submit" type="submit" class="">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <ul class="d-flex py-3 m-0 gap-4 align-items-center justify-content-center">
        <li class="fw-bold">My Other Work :</li>
        <li>1. <a href="https://nayanwebdev-todoapp.onrender.com/" target="_blank" class="font-italic">Todo App</a></li>
        <li>2. <a href="https://image-gallery-node.onrender.com/" target="_blank" class="font-italic">Image Gallery</a></li>
      </ul>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://zypp.app/js/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    <script src="https://zypp.app/js/aos.js" type="text/javascript"></script>
  </body>
</html>
