<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/practicaldev/image/fetch/s--E8ak4Hr1--/c_limit,f_auto,fl_progressive,q_auto,w_32/https://dev-to.s3.us-east-2.amazonaws.com/favicon.ico" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="container py-4">
      <div class="d-flex align-items-center">
        <div class="logo">
          <a href="/">Alpine Code</a>
        </div>
        <nav class="nav-menu d-none d-lg-block pl-4">
          <ul>
            <li class="menu-tab who-we-are"><a href="#">Home</a></li>
            <li class="menu-tab ev-rider"><a href="#">about</a></li>
            <li class="menu-tab contact"><a href="#">CONTACT US</a></li>
          </ul>
        </nav>

        <div class="getApp d-flex align-items-center ml-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 24.811 35.444">
            <g id="Group_175" data-name="Group 175" transform="translate(-1462.189 -111.778)">
              <path id="mobile_1_" data-name="mobile(1)" d="M18.664,27.325l-.266-.213a1.347,1.347,0,0,0-.319-.159l-.319-.142a1.772,1.772,0,0,0-1.613.478,2.038,2.038,0,0,0-.372.585,1.772,1.772,0,0,0,2.3,2.322,2.587,2.587,0,0,0,.585-.39,1.754,1.754,0,0,0,0-2.481ZM24.494,2H10.317A5.317,5.317,0,0,0,5,7.317V32.127a5.317,5.317,0,0,0,5.317,5.317H24.494a5.317,5.317,0,0,0,5.317-5.317V7.317A5.317,5.317,0,0,0,24.494,2Zm1.772,30.127A1.772,1.772,0,0,1,24.494,33.9H10.317a1.772,1.772,0,0,1-1.772-1.772V7.317a1.772,1.772,0,0,1,1.772-1.772H24.494a1.772,1.772,0,0,1,1.772,1.772Z" transform="translate(1457.189 109.778)" fill="#fff"></path>
              <path id="Path_2432" data-name="Path 2432" d="M-1278.935,521.683-1289.09,528l2.564,1.369-4.48,6.546,10.379-6.076-2.664-1.358Z" transform="translate(2759.565 -402.183)" fill="#1fcd5b"></path>
            </g>
          </svg>
          <p>Get the app</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 14 12">
            <path id="Polygon_4" data-name="Polygon 4" d="M6.136,1.481a1,1,0,0,1,1.728,0L13.123,10.5a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z" transform="translate(14 12) rotate(180)" fill="#1fcd5b"></path>
          </svg>

          <div class="getappOpen" style="display: none">
            <a href="https://play.google.com/store/apps/details?id=com.mobycy" target="_blank"><i class="ri-google-play-fill"></i> Android-User App</a>
            <a href="https://play.google.com/store/apps/details?id=com.zyppdelivery" target="_blank"><i class="ri-google-play-fill"></i> Android-Pilot App</a>
            <a href="https://apps.apple.com/in/app/zypp-electric-scooter-delivery/id1318610812" target="_blank"><i class="ri-app-store-fill"></i> IOS-User App</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="vh-100" style="background-color: #f4f5f7">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: 0.5rem">
                <% for(var data of user){ %>
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem">
                    <img src="<%= data.avatar %>" alt="Avatar" class="img-fluid my-5" style="width: 80px" />
                    <h5><%= data.name %></h5>
                    <p>Web Designer</p>
                    <i class="far fa-edit mb-5"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Information</h6>
                      <hr class="mt-0 mb-4" />
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Email</h6>
                          <p class="text-muted"><%= data.email %></p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted">123 456 789</p>
                        </div>
                      </div>
                      <h6>Projects</h6>
                      <hr class="mt-0 mb-4" />
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Recent</h6>
                          <p class="text-muted">Lorem ipsum</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Most Viewed</h6>
                          <p class="text-muted">Dolor sit amet</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-start">
                        <a href="../delete/<%= data.id %>">delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p class="text-center p-3 m-0 fs-4 fw-bold text-uppercase">welcome to crud app</p>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
